.nice-text {
    width: 75%;
    padding-left: 20px;
    font-size: 16px;
    text-align: left;
}

li {
    margin: 10px;
}

.green-box {
    height: 50px;
    background-color: green;
    width: 100%;
    margin-left: 0px;
}

.header {
    color: white;
    font-size: xx-large;
    background-color: rgb(21, 40, 255);
    height: 60px;
    text-indent: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 20px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.blue-box {
    height: 50px;
    background-color: blue;
    width: 100%;
    margin-left: 0px;
}

.full-size {
    width: 100%;
    margin: 0;
    padding: 0;
}

.question-dialogs {
    display: flex;
    /* justify-content: center; */

}

.question-dialogs>div {
    margin-right: 10px;
}

.tab-panel-class {
    /* position: static;
    z-index: 0; */
    z-index: 1;
    overflow: hidden;
    position: 'sticky';
    top: '120px';
    max-height: 15%;
}


.indented-header {
    text-indent: 20px;
}

.nice-list {
    width: 75%;
    font-size: 16px;
    text-align: left;
}

.small-left-margin {
    margin-left: 5%;
}

.center-align {
    text-align: center;
}

.header-text {
    width: 100%;
    font-size: 22px;
    text-align: center;
}